.dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  color: #f1faee;
  left: 285px;
}

.dropdown-item {
  display: flex;
  width: 40vw;
  height: 50px;
  background-color: #1d3557;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.dropdown-item:hover {
  background-color: #457b9d;
}
