.sidebar {
  width: 20vw;
  background-color: #1d3557;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  height: 94vh;
  color: #f1faee;
}

.button-icon-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
