::placeholder {
  text-align: center;
}

input {
  text-align: center;
}

.login-wrapper {
  color: #f1faee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #457b9d;
  width: max-content;
  padding: 50px;
  margin: 15% auto auto auto;
  border-radius: 10px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  color: #e63946;
  justify-self: center;
  margin: 8px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  margin-top: 8px;
  background-color: #1d3557;
  color: #f1faee;
  border: 0;
  box-shadow: 0;
  height: 30px;
  width: 70px;
}

.login-button:hover {
  background-color: #a8dadc;
  color: #1d3557;
  font-weight: bold;
}
