.chatroom {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatroom:hover {
  background-color: #457b9d;
}

.selected {
  background-color: #a8dadc;
  color: #1d3557;
  font-weight: bold;
}

.list {
  text-align: center;
}

.button-icon-wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
