.main-wrapper {
  flex: 1;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.new-chatroom {
  width: fit-content;
  padding: 10px;
  border: 0;
  box-shadow: 0;
  margin: 10px auto;
}
