.loading-messages-wrapper {
  /* overflow: scroll; */
  flex: 0 1 auto;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.loading-messages-header {
  height: 4vh;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #1d3557;
}

.loading-header-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
}

.loading-title {
  height: 24px;
  width: 180px;
  background-color: #e2ece9;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.loading-messages-body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.loading-separator {
  height: 2px;
  width: 100%;
  background-color: #1d3557;
}
